<!DOCTYPE html>
<html>
<head>
<title>Node js</title>
</head>
    <body>
    {{#each users as | user|}}
    <div>
        <img src="/profilepics/{{user.username}}_sm.jpg" alts="">
        <a href="{{user.username}}">{{user.username}}</a>

    </div>
    {{/each}}
    </body>
</html>